/*FIRST GRID HAEDER & MENU*/
.main{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:10px;
    grid-template-areas:
    "header header header";
}
header{
    grid-area: header;
    background-color: lightblue;
}
.menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
    "menu";
}
menu
{
    grid-area: menu;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
    text-align: center;
    padding:10px;
}
.menu a{
    padding: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.front{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "middletext middleimage";
}
middletext{
    grid-area: middletext;
    padding-left: 80px;

}

middleimage{
    grid-area: middleimage;
}
middleimage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.10fr 1fr 0.10fr;
    grid-template-areas:
    "image1 image2 image3"
    "image4 image5 image6"
    "image7 image8 image9";
}
middleimage i:hover{
      font-size: 50px;
}
image8 i:hover{
    font-size: 30px;

}
image8 i{
    padding: 10px;
}

.skilltitle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "skilltitle" ;
}
.skilltable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "footer1 footer2 footer3";
}

skills{
    grid-area: skilltitle;
    
}

/*CONTACT FORM*/
.contact{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contactform contactimage";
}
contactform{
    grid-area: contactform;
}
contactimage{
    grid-area: contactimage;
}
contactform input{
    padding-top: 1px;
    padding: 10px;
    width: 50%;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 0;
    
    
}
textarea{
    margin-left: 56px;
    padding: 5px;
    

}
.submit{
    width: 20%;
    border-radius: 20px;
    margin-left: 56px;
}
span{
    
    background-color: white;
    margin-left: 20px;
    padding: 10px;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
    border:1px solid white
}
form{
    margin-left: 50px;
}
/*END OF CONTACT PAGE*/

/*MY INFO PAGE*/
.personal{
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "mainimage personalinfo personalimage";
}
personalinfo{
        grid-area:personalinfo;
}
personalimage{
       grid-area: personalimage;

}
li{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
mainimage i{
    padding: 10px;
}
/*END OF MY INFO PAGE*/

/*MY PROJECTS PAGE*/
.projects{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
      padding: 5px;
      
}
.projects img{
    padding: 15px;
}
.projects p{
    text-align: center;
    margin-top: 0;
}
/*END OF MY ROJECT PAGE*/

    
    

/*.main>*{
   /* background-color: aqua;
}